/* NAV */
*{
    margin: 0;
    padding: 0;
}
  
.aheader {
    color: blanchedalmond;
    font-size: 23px;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
}
  

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #4568DC;
    background: -webkit-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);;
}
  
 
.aheader:hover {
    background-color: rgba(129,44,111,255);
    outline: 2px solid black;
}
  
  .aheader:visited {
    color: rgb(242, 196, 128);
  }
  
  .aheader:active {
    background-color: rgb(243, 240, 235);
    color: rgb(8, 8, 8);
  }

h1 {
    font-size: 30px;
    text-align: center;
}

footer {
    text-align: center;
    margin: 10px 0 0 0;
}

#logo_header {
    width: 100vw;
}

.aheader {
    color: blanchedalmond;
    font-size: 23px;
    text-decoration: none;
    background-color: dimgray;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
}

.aheader:hover {
    outline: 2px solid black;
}

.aheader:visited {
    color: rgb(242, 196, 128);
}

.aheader:active {
    background-color: rgb(243, 240, 235);
    color: rgb(8, 8, 8);
}

footer a {
    text-decoration: none;
    padding: 10px;
}

footer nav {
    /*display: inline;*/
    width: 220px;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    text-align: center;
}
  
#logo {
    width: 100vw;
}
  
header {
    background-color: white;
}

input {
    padding: 5px;
    margin-bottom: 15px;
}

/* ----------------------------CUERPO------------------------------ */
/* BARRA DESPLAZAMIENTO */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(190, 18, 190, 0.295);
}

/* COLOR DESLIZADOR */
::-webkit-scrollbar-thumb {
    background-color: rgba(190, 18, 190, 0.473);
} 

::-webkit-scrollbar-button {
    background-color: black;
}

/* FIN BARRA DESPLAZAMIENTO */

body{
    background-color: #4568DC;
    background: -webkit-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
}

main{
    margin-left: 5%;
    margin-right: 1px;
}

main > h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    padding: 12px;
}

.contenido{
    width: 96%;
    margin: 5px;
    display: flex;
    padding: 3px;
    align-items: center;
}

.img-contenido{
    margin: 5px 12px;
    height:20vw;
    border-radius:7%;
}

.img-contenido:hover{
    transform: scale(1.04);
    transition: 1.5s;
}

main > div > p{
    margin: 1px;
    padding: 2px;
    text-align: center;
    font-size: 17px;
    line-height: 1.2;
}

.div-cont-2{
    margin-top: 20px;
    margin-bottom: 40px;
    flex-direction: row-reverse;
}

/* ------------------FUNDADORES------------------------ */

.fundadores{
width: 96%;
border-radius: 10px 100px / 120px;
border-style: groove;
/* height: 450; */
margin: 5px;
padding: 12px;
display: flex;
justify-content: space-around;
background: radial-gradient(rgb(105, 103, 103), rgb(92, 91, 91))
}

.fundador{
    border-radius: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding: 4px; */
    /* height: 200px; */
    width: 250px;
    background: linear-gradient(to bottom right, rgb(2, 2, 66), rgb(231, 152, 166))
}

.tit-fundador, .nombre-fundador{
    color: rgb(38, 112, 88);
    -webkit-text-stroke: 0.5px black;
}

.tit-fundador{
    margin-top: 4px;
    margin-bottom: 10px;
}


/* ------------------------MAPA---------------------------- */
.div-ubicacion{
    width: 96%;
    margin: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.mapa{
    text-align: center;
    align-content: center;
}



.direccion-mapa{
    margin: 15px 0px;
    color: #e2c7db;
}


footer{
    margin: 15 0px;
    padding: 5px;
    border-color: black;
}

.logo{
    margin: 10px 0 20px;
}

footer > div > p {
    margin-top: 14px;
}



/* MEDIA QUERIES */
@media screen and  (min-width: 768px) and (max-width:992px) {
    /* tablet*/
    main{
        margin-left: 5%;
        margin-right: 1px;
    }
    
    main > h1{
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
        padding: 12px;
    }
    
    .contenido{
        width: 96%;
        margin: 3px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 2px solid black;
        align-items: center;
    }
    
    .img-contenido{
        margin: 5px 5px;
        height:40vw;
        border-radius:7%;
    }
    
    main > div > p{
        margin: 1px;
        padding: 30px;
        text-align: justify;
        font-size: 22px;
        line-height: 1.2;
    }
    
    .div-cont-2{
        flex-direction: column;
    }

    * ------------------FUNDADORES------------------------ */
    
    .fundadores{
        overflow: hidden;
    }
        
    .fundador{
        margin: 5px;
        width: 30%;
    }
    

    
}





@media screen and (max-width: 767px) {
    /*celu*/
    main{
        margin-left: 5%;
        margin-right: 1px;
    }

    main > h1{
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
        padding: 12px;
    }

    .contenido{
        width: 96%;
        margin: 3px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .img-contenido{
        margin: 5px 5px;
        height:40vw;
        border-radius:7%;
    }

    main > div > p{
        margin: 1px;
        padding: 30px;
        text-align: justify;
        font-size: 22px;
        line-height: 1.2;
    }

    .div-cont-2{
        flex-direction: column;
    }

    /* ------------------FUNDADORES------------------------ */
    
    .fundadores{
        width: 96%;
        /* height: 450; */
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
        
    .fundador{
        /* border-radius: 50%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px 0px 5px 0px;
        margin: 5px;
        /* height: 200px; */
        width: 90%;
    }
        
    .tit-fundador{
        color: aquamarine;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 4px;
        margin-bottom: 10px;
        font-size: 45px;
    }
        
    .nombre-fundador{
        color: rgb(14, 117, 85);
        font-size: 30px;
    }
        
    .img-fundador{
        width: 80%;
    }
        
/* ------------------------MAPA---------------------------- */    

    .div-ubicacion{
        width: 96%;
        margin: 5px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
    }
    
    .mapa{
        text-align: center;
        align-content: center;
    }
    
    .direccion-mapa{
        padding: 15px;
    }

    .mapa-iframe{
        width: 80%;
    }

}

    
