body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  background-color: #4568dc;
  background: -webkit-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
}

* {
  margin: 0;
  padding: 0;
}

.aheader {
  color: blanchedalmond;
  font-size: 23px;
  text-decoration: none;
  background-color: white;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
}

.aheader:hover {
  background-color: rgba(129, 44, 111, 255);
  outline: 2px solid black;
}

.aheader:visited {
  color: rgb(242, 196, 128);
}

.aheader:active {
  background-color: rgb(243, 240, 235);
  color: rgb(8, 8, 8);
}

h1 {
  font-size: 30px;
  text-align: center;
}

#logo {
  width: 100vw;
}

header {
  background-color: #4568dc;
  background: -webkit-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
}

.imagenCard {
  display: flex;
  margin: 15px 30px 15px 30px;
  width: 96%;
  border: 2px solid black;
}

#app {
  margin: 10px;
  /* border: 2px solid red; */
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.footer {
  align-items: justify-content-center;
  flex-wrap: bg-warning pt-5;
  display: flexbox;
  background-color: #4568dc;
  background: -webkit-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  margin: 10px;
}

.product img {
  width: 100px;
  height: 100px;
}

.product h3 {
  margin: 0;
}

.product p {
  margin: 5px;
}
